<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add post</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/theme.css}">
    <!-- include libraries(jQuery, bootstrap) -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>

    <!-- include summernote css/js -->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.js"></script>
    <script>
        $(document).ready(function () {
            $('textarea#content').summernote();
        });
    </script>

</head>
<body>
<div class="container">
    <h2>Post Rent House</h2>
    <form method="post" th:action="@{/post/add-post-rent-new}" enctype="multipart/form-data" th:object="${post}">
        <div class="form-group">
            <label for="title">Title</label>
            <input class="form-control" type="text" id="title" th:field="*{title}">
        </div>
        <div class="">
            <label for="content">content</label>
            <textarea name="" id="content" cols="500" rows="40" th:field="*{content}"></textarea>
        </div>
        <div class="form-group col-sm-12">
            <label class="col-sm-2" for="category">Category</label>
            <select class="col-sm-3" th:field="*{category}" id="category">
                <option value="1">Select Category</option>
                <option th:each="cate : ${categories}"
                        th:value="${cate.getId()}"
                        th:text="${cate.getName()}"></option>
            </select>
        </div>
        <div class="form-group col-sm-12 ">
            <label class="col-sm-2" for="user">User</label>
            <select class="col-sm-3" th:field="*{user}" id="user">
                <option value="1">Select user</option>
                <option th:each="user : ${users}"
                        th:value="${user.getId()}"
                        th:text="${user.getUsername()}"></option>
            </select>
        </div>

        <div class="form-group">
            <input type="file" name="files" multiple>
        </div>

        <div>
            <input type="submit" class="btn btn-info" value="Post News">
        </div>
    </form>
</div>
</body>
</html>
