<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>-->
    <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css"/>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
    <script type="text/javascript" th:src="@{/css/get_user_id.js}"></script>

    <script>
        function getId() {
            $(document).ready(function () {
                //get data rental_house_id
                var rental_id = [[${house.id}]];
                $("#rental_id").val(rental_id);
                $("#user_id").val([[${myName}]]);
            });
        }

        //    date
        $(document).ready(function () {
            var date_start = $('#start-date'); //our date input has the name "date"
            var date_end = $('#end-date');
            var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
            var options = {
                format: 'mm/dd/yyyy',
                container: container,
                todayHighlight: true,
                autoclose: true,
            };
            date_start.datepicker(options);
            date_end.datepicker(options);
        });
        $(document).ready(function () {
            //get data date start - end and price
            var price = [[${house.price}]];
            var date_start, date_end;
            $("#end-date, #start-date").change(function () {
                if ($("#end-date").val() != "" && $("#start-date").val() != "") {
                    date_start = new Date($("#start-date").val());
                    date_end = new Date($("#end-date").val());
                    var total_date = date_end.getDate() - date_start.getDate() + 1;
                    $("#price_order").val(total_date * price);
                }
            });

        });
    </script>
    <title th:object="${house}" th:text="${house.title}"></title>
</head>
<div th:replace="fragments/header :: header"></div>
<body class="container">
<th:block th:object="${house}">
    <div class="container">
        <!--User và nút xóa-->
        <div class="col-md-6">Chủ thuê: <a th:href="@{/user/__${house.user.id}__/__${house.user.username}__}"
                                           th:text="${house.user.username}"></a></div>
        <div class="col-md-6" style="text-align: right;">
            <th:block th:if="${#request.userPrincipal}">
                <div th:if="${house.user.username} == ${#request.userPrincipal.getName()}">
                    <a type="button" th:href="@{/post/edit-post-rent/__${house.id}__}">
                        <button class="btn btn-info">Edit Post</button>
                    </a>
                    <a type="button" th:href="@{/post/delete-post-rent/__${house.id}__}"
                       onclick="return confirm('delete now?')">
                        <button class="btn btn-danger">Delete Post</button>
                    </a>
                </div>
            </th:block>
        </div>
        <h1 style="text-align: center" th:utext="${house.title}"></h1>
        <div th:if="${house.images.size()} > 0" class="col-md-12" style="height: 400px">
            <div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">
                <!-- Carousel indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                </ol>
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img th:src="@{/__${house.images[0].getLink()}__}" style="width: 100%; height: 400px;"
                             alt="First Slide">
                        <div class="carousel-caption">
                            <h3>First slide label</h3>
                            <p>Lorem ipsum dolor sit amet...</p>
                        </div>
                    </div>
                    <!--Neu co lon hon 1 anh-->
                    <div th:if="${house.images.size()} > 1" th:each="image, i: ${house.images}"
                         class="item">
                        <img th:src="@{/__${house.images[i.index].getLink()}__}" style="width: 100%; height: 400px;"
                             alt="Second Slide">
                        <div class="carousel-caption">
                            <h3>Second slide label</h3>
                            <p>Aliquam sit amet gravida nibh, facilisis...</p>
                        </div>
                    </div>

                </div>
                <!-- Carousel nav -->
                <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="carousel-control right" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>

        <br><br>
        <div class="col-md-9">
            <span th:utext="${house.description}"></span>
            <hr>
            <span>Địa chỉ liên hệ</span>
            <table class="table" border="1px">
                <tr>
                    <td style="width:200px; font-weight: bold; background-color: coral">Province</td>
                    <td th:text="${house.province}"></td>
                </tr>
                <tr>
                    <td style="font-weight: bold; background-color: coral">Address detail</td>
                    <td th:text="${house.address}"></td>
                </tr>
            </table>
            <span>Thong tin chi tiet nha</span>
            <table class="table" border="1px">
                <tr style="font-weight: bold; color: white; background-color: blueviolet">
                    <td>Bedroom</td>
                    <td>Toilet</td>
                    <td>Storey</td>
                    <td>House Area</td>
                    <td>Featured</td>
                </tr>
                <tr>
                    <td><span style="color: red" th:text="${house.quantity_bedroom}"></span> phòng</td>
                    <td><span style="color: red" th:text="${house.quantity_toilet}"></span> phòng</td>
                    <td><span style="color: red" th:text="${house.quantity_storey}"></span> tầng</td>
                    <td><span style="color: red" th:text="${house.quantity_storey}"></span> mét vuông</td>
                    <td><span style="color: red" th:text="${house.featured}"></span></td>
                </tr>
            </table>
        </div>

        <div class="col-md-3">
            <h3 style="color: red; text-align: center;">Order Rental house</h3>
            <h4><b>Price: </b> <span style="color: #b20c0c" id="price" th:value="${house.price}"
                                     th:utext="${house.price} + ${' VND/day'}"></span></h4>
            <form class="form-horizontal" method="post" th:action="@{/house/action}" th:object="${order}"
                  onsubmit="getId();">
                <input type="hidden" th:field="*{rental_house_id}" id="rental_id">
                <div th:if="${#request.userPrincipal}">
                    <input type="hidden" th:field="*{user_id}" id="user_id">
                </div>
                <div class="form-group">
                    <label for="start-date">Start date</label>
                    <input class="form-control" id="start-date" name="date" th:field="*{date_begin}"
                           placeholder="MM/DD/YYYY" type="text" autocomplete="off"/>
                </div>
                <div class="form-group">
                    <label for="end-date">End date</label>
                    <input class="form-control" th:field="*{date_end}" id="end-date"
                           name="date" placeholder="MM/DD/YYYY" type="text" autocomplete="off"/>
                </div>
                <div class="form-group">
                    <label for="price_order">Total price</label>
                    <input type="text" th:field="*{price}" id="price_order" class="form-control"
                           readonly="readonly">
                </div>
                <div class="form-group">
                    <div th:if="${#request.userPrincipal}">
                        <button type="submit" class="btn btn-info">Dang ky thue</button>
                        <button type="reset" class="btn btn-default ">Reset</button>
                    </div>
                </div>
            </form>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div th:if="${#request.userPrincipal} == null">
                        <button class="btn btn-warning" data-toggle="modal" data-target=".mode">Dang ky thue</button>
                    </div>
                </div>
            </div>
            <br><br><br>
        </div>
    </div>

    <hr>
    <div class="container">
        <div class="col-lg-9 col-sm-6 text-center" th:if="${#request.userPrincipal}">
            <h4>Comment</h4>
            <form th:action="@{/house/__${house.id}__/comment}" method="post" role="form" th:object="${cm}">
                <div class="form-group">
                    <textarea th:field="*{body}" rows="5" class="form-control input-sm chat-input"
                              placeholder="Write your message here..."></textarea>
                </div>
                <input type="hidden" th:field="*{rentalHouse}">
                <div class="input-group">
                    <button type="submit" class="btn btn-primary btn-lg"><span
                            class="glyphicon glyphicon-comment"></span> Comment
                    </button>
                    </span>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <h2>Comments:</h2>
            <!--Comments-->
            <div class="well" th:each="comment: ${comments}" th:if="${house.id} == ${comment.rentalHouse.id}">
                <a th:if="${comment.user.username}" th:href="@{/user/__${comment.user.username}__}"
                   th:text="${comment.user.username}"></a>
                <p th:text="${comment.body}"></p>
            </div>
        </div>
    </div>

</th:block>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
