<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>News Rent</title>
    <script>
        $(document).ready(function () {
            var price = [[${house.price}]];
            $("#price_order").val(price);
        })
    </script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div>
        <form th:object="${house}">
            <input th:type="hidden" name="id" th:field="*{id}">
            <table>
                <tr>
                    <td>Title:</td>
                    <td th:utext="${house.title}"></td>
                </tr>
                <tr>
                    <td>Address:</td>
                    <td th:utext="${house.address}"></td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td th:utext="${house.description}"></td>
                </tr>
                <tr>
                    <td>Price:</td>
                    <td><span id="price" th:value="${house.price}" th:utext="${house.price} + ${'VND'}"></span></td>
                </tr>
            </table>
        </form>
    </div>

    <div>
        <form class="form-horizontal" action="/order/action" role="form" method="post">
            <div class="form-group">
                <label for="start-date" class="col-sm-2 control-label">Start-date</label>
                <div class="col-sm-4">
                    <input type="date" class="form-control" id="start-date" placeholder="Start date">
                </div>
            </div>
            <div class="form-group">
                <label for="and-date" class="col-sm-2 control-label">And-date</label>
                <div class="col-sm-4">
                    <input type="date" class="form-control" id="and-date">
                </div>
            </div>
            <div class="form-group">
                <label for="price_order" class="col-sm-2 control-label">Total-price</label>
                <div class="col-sm-4">
                    <input type="text" id="price_order" class="form-control" readonly>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default " style="background: royalblue">Submit</button>
                    <button type="submit" class="btn btn-default " style="background: red">Cencel</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
