<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add post</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/theme.css}">
    <!-- include libraries(jQuery, bootstrap) -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>

    <!-- include summernote css/js -->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.js"></script>
    <script>
        $(document).ready(function () {
            $('#content').summernote();
        });
    </script>

</head>
<body>
<div th:replace="fragments/footer :: footer"></div>
<div class="container">
    <h2>Post Rent House</h2>
    <form method="post" th:action="@{/post/add-post-rent-new}" enctype="multipart/form-data" th:object="${post}">
        <div class="">
            <label for="title">Title</label>
            <input type="text" id="title" th:field="*{title}">
        </div>
        <div class="">
            <label for="description">content</label>
            <textarea name="" id="description" cols="30" rows="10" th:field="*{description}"></textarea>
        </div>
        <div>
            <label>Category</label>
            <select th:field="*{category}" id="category">
                <option value="1">Select Category</option>
                <option th:each="cate : ${categories}"
                        th:value="${cate.getId()}"
                        th:text="${cate.getName()}"></option>
            </select>
        </div>
        <div>
            <label>User</label>
            <select th:field="*{user}" id="user">
                <option value="1">Select user</option>
                <option th:each="user : ${users}"
                        th:value="${user.getId()}"
                        th:text="${user.getUsername()}"></option>
            </select>
        </div>
        <div class="form-group">
            <input type="file" name="files" multiple>
        </div>
        <input type="hidden" th:field="*{status}" value="true">

        <div>
            <input type="submit" class="btn btn-info" value="Post News">
        </div>
    </form>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
