<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add post</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/theme.css}">
</head>

<body>
<div class="container">
    <form method="post" th:action="@{/post/edit-post-rent}" enctype="multipart/form-data" th:object="${post}">

        <div class="col-sd-6">
            <input type="hidden" th:field="*{id}">
            <div class="">
                <label for="title">Title</label>
                <input type="text" id="title" th:field="*{title}">
            </div>
            <div class="">
                <label for="content">content</label>
                <textarea name="" id="content" cols="30" rows="10" th:field="*{description}"></textarea>
            </div>
            <div>
                <label>Category</label>
                <select th:field="*{category}" id="category">
                    <option value="1">Select Category</option>
                    <option th:each="cate : ${categories}"
                            th:value="${cate.getId()}"
                            th:text="${cate.getName()}"
                            th:selected="(${cate.id} == *{category.id})"></option>
                </select>
            </div>

            <div>
                <label>User</label>
                <select th:field="*{user}" id="user">
                    <option value="1">Select user</option>
                    <option th:each="u : ${users}"
                            th:value="${u.getId()}"
                            th:text="${u.getUsername()}"
                            th:selected="(${u.id} == *{user.id})"></option>
                </select>
            </div>
            <div class="form-group">
                <input type="file" name="files" multiple>
            </div>
            <div class="">
                <label>status</label>
                <input type="radio" name="status" th:field="*{status}" value=true > Con trong
                <input type="radio" name="status" th:field="*{status}" value=false> Het Phong
            </div>
        </div>

        <div class="col-sm-12">
            <input type="submit" class="btn btn-info" value="Post News">
        </div>
    </form>
</div>
</body>
</html>
