<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div th:if="${message}">
    <p th:text="${message}"></p>
</div>
<a href="/post/add-post-rent">add post</a><br>
<th:block th:each="post : ${postRents}">
    <p th:text="${post.getImages().size()}"></p>
    <a th:href="@{/post/view-post/__${post.id}__}" th:text="${post.title}"></a> <br>
    <th:block th:each="img : ${post.getImages()}">
        <img th:src="@{/__${img.getLink()}__}" th:alt="${img.getName()}" width="80px" height="80px" />
    </th:block>
    <a th:href="@{/post/edit-post-rent/__${post.id}__}">Edit</a> |
    <a th:href="@{/post/delete-post-rent/__${post.id}__}" onclick="return confirm('delete now?')">Delete</a>
</th:block>

<!--footer-->
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
