<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>REGISTER ACCOUNT</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <!--Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <style>
        #footer {
            position:absolute;
            bottom:0;
            width:100%;
            height: auto;
        }
    </style>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<h1 class="text-center">Register Account</h1>
<th:block th:if="${message}">
    <h2 th:text="${message}"></h2>
</th:block>
<div class="container">
    <form th:action="@{/user/create}" th:object="${user}" method="post">
        <table class="table">
            <tr>
                <td>Username:</td>
                <td><input class="form-control" type="text" th:field="*{username}"></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input class="form-control" type="password" th:field="*{password}"></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input class="form-control" type="text" th:field="*{email}"></td>
            </tr>
            <tr>
                <td>Age:</td>
                <td><input class="form-control" type="number" th:field="*{age}"></td>
            </tr>
            <tr>
                <td>Phone:</td>
                <td><input class="form-control" type="text" th:field="*{phone}"></td>
            </tr>
            <tr>
                <td>Province:</td>
                <td><input class="form-control" type="text" th:field="*{province}"></td>
            </tr>
            <tr>
                <td>Address:</td>
                <td><input class="form-control" type="text" th:field="*{address}"></td>
            </tr>
            <tr>
                <td>Gender:</td>
                <td><input type="radio" name="gender" th:field="*{gender}" th:value="true" th:text="Nam">
                    <input type="radio" name="gender" th:field="*{gender}" th:value="false" th:text="Nu"></td>
            </tr>
            <select th:field="*{roles}" class="form-control" style="display:none;">
                    <option th:each="role : ${auth_roles}"
                            th:value="${role.id} == 2 ? ${role.id} : 2"
                            th:field="*{roles}"
                            th:text="${role.id} == 2 ? 'ADMIN' : 'MEMBER'"></option>
                </select>
            <tr>
                <td></td>
                <td><input class="btn btn-info" type="submit" value="Create"></td>
            </tr>
        </table>
    </form>
    <a th:href="@{/}">Back to Home</a>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
