<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>REGISTER ACCOUNT</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

</head>
<body>
<div th:replace="fragments/header :: header"></div>
<h1 class="text-center">Register Account</h1>
<th:block th:if="${message}">
    <h2 th:text="${message}"></h2>
</th:block>
<div class="container">
    <div class="row">
    <form th:action="@{/user/create}" th:object="${user}" method="post">
        <table class="table">
            <tr>
                <td>Username:</td>
                <td><input class="form-control" type="text" th:field="*{username}"></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input class="form-control" type="password" th:field="*{password}"></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input class="form-control" type="text" th:field="*{email}"></td>
            </tr>
            <tr>
                <td>Age:</td>
                <td><input class="form-control" type="number" th:field="*{age}"></td>
            </tr>
            <tr>
                <td>Phone:</td>
                <td><input class="form-control" type="text" th:field="*{phone}"></td>
            </tr>
            <tr>
                <td>Province:</td>
                <td><input class="form-control" type="text" th:field="*{province}"></td>
            </tr>
            <tr>
                <td>Address:</td>
                <td><input class="form-control" type="text" th:field="*{address}"></td>
            </tr>
            <tr>
                <td>Gender:</td>
                <td><input type="radio" name="gender" th:field="*{gender}" th:value="true" th:text="Nam">
                    <input type="radio" name="gender" th:field="*{gender}" th:value="false" th:text="Nu"></td>
            </tr>
            <select th:field="*{roles}" class="form-control" style="display:none;">
                    <option th:each="role : ${auth_roles}"
                            th:value="${role.id} == 2 ? ${role.id} : 2"
                            th:field="*{roles}"
                            th:text="${role.id} == 2 ? 'ADMIN' : 'MEMBER'"></option>
                </select>
            <tr>
                <td></td>
                <td><input class="btn btn-info" type="submit" value="Create"></td>
            </tr>
        </table>
    </form>
    <a th:href="@{/}">Back to Home</a>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
