<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <!--Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<body>
<h1 class="text-center">Edit User</h1>
<th:block th:if="${message}">
    <h2 style="text-align: center" th:text="${message}"></h2>
</th:block>
<div class="container">
    <form th:action="@{/user/edit}" th:object="${user}" method="post">
        <input type="hidden" th:field="*{id}">
        <table class="table">
            <tr>
                <td>Username:</td>
                <td><input class="form-control" type="text" th:field="*{username}" readonly></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input class="form-control" type="password" th:field="*{password}"></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input class="form-control" type="text" th:field="*{email}"></td>
            </tr>
            <tr>
                <td>Age:</td>
                <td><input class="form-control" type="number" th:field="*{age}"></td>
            </tr>
            <tr>
                <td>Phone:</td>
                <td><input class="form-control" type="text" th:field="*{phone}"></td>
            </tr>
            <tr>
                <td>Province:</td>
                <td><input class="form-control" type="text" th:field="*{province}"></td>
            </tr>
            <tr>
                <td>Address:</td>
                <td><input class="form-control" type="text" th:field="*{address}"></td>
            </tr>
            <tr>
                <td>Gender:</td>
                <td>
                    <input type="radio" name="gender" th:field="*{gender}" th:value="true" th:text="Nam">
                    <input type="radio" name="gender" th:field="*{gender}" th:value="false" th:text="Nu"></td>
            </tr>
            <tr>
                <td>Level:</td>
                <td>
                    <select th:field="*{roles}" class="form-control">
                        <option th:each="role : ${auth_roles}"
                                th:value="${role.id}"
                                th:field="*{roles}"
                                th:text="${role.id} == 1 ? 'ADMIN' : 'MEMBER'"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input class="btn btn-info" type="submit" value="Update"></td>
            </tr>
        </table>
    </form>
    <a th:href="@{/user}">Back to View</a>
</div>
</body>
</html>
