<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
     <!--Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<br>
<h1 class="text-center">List user</h1>
<div class="container">
<form>
    <div class="col-md-6">
    <form  class="search-form">
        <tr>
            <td><input class="form-control" value="name" name="s" type="text"></td>
            <!--<td> <input type="submit" value="Click"></td>-->
            <td><button class="btn btn-link search-btn"> <i class="glyphicon glyphicon-search"></i>
            </button></td>
        </tr>
    </form>
    </div>
</form></br>
<table border="1" class="table table-striped" th:object="${users}">
    <tr>
       <td>ID</td>
       <td>Password</td>
       <td>UserName</td>
       <td>Email</td>
       <td>Phone</td>
       <td>Address</td>
       <td>Gender</td>
       <td>Level-Type</td>
       <td>Delete</td>
       <td>Edit</td>
    </tr>
    <th:block th:each="user: ${users}">
        <tr>
            <td th:text="${user.id}"></td>
            <td th:text="${user.password}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.phone}"></td>
            <td th:text="${user.address}"></td>
            <td th:text="${user.gender}"></td>
            <td th:text="${user.level_type}"></td>
            <td><a type="button" class="btn btn-danger" th:href="@{/user/delete/__${user.id}__}">Delete</a></td>
            <td><a type="button" class="btn btn-danger" th:href="@{/user/edit/__${user.id}__}">Edit</a></td>
        </tr>
    </th:block>
</table>
<div>
    <a th:href="@{'/'(page=${users.number - 1})}" th:if="${users.hasPrevious()}">Previous</a>
    <span th:text="${users.number + 1}"></span>/<span th:text="${users.totalPages}"></span>
    <a th:href="@{'/'(page=${users.number + 1})}" th:if="${users.hasNext()}">Next</a>
</div>
</div>

</body>
</html>
