<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        #footer {
            position:absolute;
            bottom:0;
            width:100%;
            height: auto;
        }
    </style>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<br>
<div class="container">
    <div class="col-md-6">
    <h1 class="text-center">My view user <b th:text="${user.username}"></b></h1>
    <table class="table table-striped">
        <tr>
            <td>UserName</td>
            <td th:text="${user.username}"></td>
        </tr>
        <tr>
            <td>Email</td>
            <td th:text="${user.email}"></td>
        </tr>
        <tr>
            <td>Phone</td>
            <td th:text="${user.phone}"></td>
        </tr>
        <tr>
            <td>Age</td>
            <td th:text="${user.age}"></td>
        </tr>
        <tr>
            <td>Address</td>
            <td th:text="${user.address}"></td>
        </tr>
        <tr>
            <td>Gender</td>
            <td th:text="${user.gender} ? 'nam' : 'nu'"></td>
        </tr>
    </table>
    </div>
    <div class="col-md-6">
        <h2>List Rent House <b th:text="${user.username}"></b></h2>
        <div th:each="post : ${user.getPosts()}">
            <p><a th:href="@{/house/detail/__${post.id}__}" th:text="${post.title}"></a></p>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
