
<!doctype html>
<html  xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet"  href="../../static/css/footer.css">

    <title>Document</title>

</head>
<body>
<footer th:fragment="footer" class="footer panel panel-default" xmlns:th="http://www.w3.org/1999/xhtml">
    <div style="width: 97%">
    <div class="row">
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">

            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Liên kết</h5>

            <ul class="list-unstyled">
                <li>
                    <a href="#!">Facebook</a>
                </li>
                <li>
                    <a href="#!">Google+</a>
                </li>
                <li>
                    <a href="#!">Youtube</a>
                </li>
            </ul>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 mx-auto">

            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Bản di động</h5>

            <ul class="list-unstyled">
                <li>
                    <a href="#!">Very long link 1</a>
                </li>
                <li>
                    <a href="#!">Very long link 2</a>
                </li>
                <li>
                    <a href="#!">Very long link 3</a>
                </li>
                <li>
                    <a href="#!">Very long link 4</a>
                </li>
            </ul>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 mx-auto">

            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Hỗ trợ khách hàng</h5>

            <ul class="list-unstyled">
                <li>
                    <a href="#!">Trung tâm trợ giúp</a>
                </li>
                <li>
                    <a href="#!">An toàn mua bán</a>
                </li>
                <li>
                    <a href="#!">Quy định cần thiết</a>
                </li>
                <li>
                    <a href="#!">Liên kết hỗ trợ</a>
                </li>
            </ul>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 mx-auto">

            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Về Air.bnb(25PKHS)</h5>

            <ul class="list-unstyled">
                <li>
                    <a href="#!">Giới thiệu</a>
                </li>
                <li>
                    <a href="#!">Tuyển dụng</a>
                </li>
                <li>
                    <a href="#!">Truyền thông</a>
                </li>
                <li>
                    <a href="#!">Blog</a>
                </li>
            </ul>

        </div>
        <!-- Grid column -->
    </div>
    <div class = "panel-heading text-center">
        <p>CodeGym &copy; 2017</p>
    </div>
    </div>
</footer>
</body>
</html>
