<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List category</title>
    <style>
        #footer {
            position:absolute;
            bottom:0;
            width:100%;
            height: auto;
        }
    </style>
</head>
<body>
<h1>List category</h1>
<form>
    Search by first name:
    <input name="s" type="text"/>
    <input type="submit" value="Search"/>
</form><br/>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<a href="/category/create-category">Create new category</a>
<table>
    <tr>
        <td>Name</td>
        <td>Edit</td>
        <td>Delete</td>
    </tr>
    <tr th:each="category : ${categories}">
        <td th:text="${category.name}"></td>
        <td><a th:href="@{/category/edit-category/__${category.id}__}">Edit</a></td>
        <td><a th:href="@{/category/delete-category/__${category.id}__}" onclick="return confirm('Do you delete?')">Delete</a></td>
    </tr>
</table>
</body>
</html>
