<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <style>
        .form-horizontal {
            padding-top: 100px;
        }
    </style>
</head>
<body>
<div>
<form class="form-horizontal" role="form">
    <div class="form-group">
        <label for="order" class="col-sm-2 control-label">Order</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="order" placeholder="Order">
        </div>
    </div>
    <div class="form-group">
        <label for="start-date" class="col-sm-2 control-label">Start-date</label>
        <div class="col-sm-4">
            <input type="date" class="form-control" id="start-date" placeholder="Start date">
        </div>
    </div>
    <div class="form-group">
        <label for="and-date" class="col-sm-2 control-label">And-date</label>
        <div class="col-sm-4">
            <input type="date" class="form-control" id="and-date" >
        </div>
    </div>
    <div class="form-group">
        <label for="total-price" class="col-sm-2 control-label">Total-price</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="total-price">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default " style="background: royalblue">Submit</button>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default " style="background: red">Cencel</button>
        </div>
    </div>
</form>
</div>
</body>
</html>
