<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Upload</title>
</head>
<body>

<div th:if="${message}">
    <h2 th:text="${message}"/>
    <h2 th:text="${url}"></h2>
</div>

<div>
    <form method="POST" enctype="multipart/form-data" action="/image/upload">
        <table>
            <tr>
                <td>File to upload:</td>
                <td><input type="file" name="files" multiple/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Upload"/></td>
            </tr>
        </table>
    </form>
</div>


</body>
</html>
